<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
	<session-factory>
	
		<!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property> -->
		<!-- <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/compecon</property> -->
		
		<property name="connection.url">jdbc:postgresql://localhost:5432/compecon</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		
		<property name="hibernate.connection.pool_size">1</property>
		<property name="hibernate.connection.autocommit">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.generate.statistics">true</property>
		
		<!-- <property name="hibernate.order_inserts">true</property> -->
		<!-- <property name="hibernate.order_updates">true</property> -->
		<!-- <property name="hibernate.use_sql_comments">false</property> -->
		<!-- <property name="hibernate.jdbc.batch_versioned_data">false</property> -->
		<!-- <property name="hibernate.jdbc.fetch_size">100</property> -->
		<!-- <property name="hibernate.jdbc.batch_size">100</property> -->		

		<mapping class="compecon.economy.markets.ordertypes.MarketOrder" />
		<mapping class="compecon.economy.sectors.financial.Currency" />
		<mapping class="compecon.economy.sectors.financial.Bank" />
		<mapping class="compecon.economy.sectors.financial.BankAccount" />
		<mapping class="compecon.economy.sectors.financial.CreditBank" />
		<mapping class="compecon.economy.sectors.financial.CentralBank" />
		<mapping class="compecon.economy.sectors.household.Household" />
		<mapping class="compecon.economy.sectors.industry.Factory" />
		<mapping class="compecon.economy.sectors.state.State" />
		<mapping class="compecon.economy.sectors.state.law.property.GoodTypeOwnership" />
		<mapping class="compecon.economy.sectors.state.law.property.Property" />
		<mapping class="compecon.economy.sectors.state.law.security.debt.Bond" />
		<mapping class="compecon.economy.sectors.state.law.security.debt.FixedRateBond" />
		<mapping class="compecon.economy.sectors.state.law.security.debt.ZeroCouponBond" />
		<mapping class="compecon.economy.sectors.state.law.security.equity.JointStockCompany" />
		<mapping class="compecon.economy.sectors.state.law.security.equity.Share" />
		<mapping class="compecon.economy.sectors.trading.Trader" />
		<mapping class="compecon.engine.Agent" />
		<mapping class="compecon.materia.GoodType" />
	</session-factory>
</hibernate-configuration>